<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Гиперком проект - проектирование зданий и сооружений. Архитектурные и строительные проекты современных
        зданий</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="style.css" rel="stylesheet" type="text/css"/>
    {{>head}}
</head>

<body>

    <div id="content">
        <div id="centerdiv">

            {{>header}}

            <div class="title">
                <img class='titleImg' src="img/control-title.gif" alt="licence"/>

                <div class="underLineC"><img class="vertLine" src="img/vertical-line.gif" alt=""/></div>
            </div>

            <div id='engineeringTxt'>

                <p> ООО «Гиперком-проект» предлагает комплекс услуг по управлению инвестиционно-строительным
                    проектом и осуществляет функции управляющей компании. </p>

                <span class="item">    На стадии подготовки инвестиционного проекта: </span>
                <ul class="menuItem">

                    <li>1. Маркетинговый анализ (выбор оптимального земельного участка).</li>
                    <li>2. Разработка концепции развития объекта.</li>
                    <li>3. Разработка бизнес-плана инвестиционного проекта.</li>
                    <li>4. Прогнозирование финансовых потоков.</li>
                    <li>5. Заключение и исполнение договоров, обеспечивающих освобождение земельного участка от сносимых
                        строений и компенсацию собственникам стоимости строений (в случае необходимости).
                    </li>
                </ul>
                <span class="item"> На стадии проектирования и строительства: </span>

                <ul class="menuItem">
                    <li>1. Получение: схемы размещения объекта; технических условий на инженерно-техническое обеспечение
                        объекта); технических условий согласующих организаций.
                    </li>
                    <li>2. Получение архитектурно-планировочного задания.</li>
                    <li>3. Организация разработки эскизного проекта.</li>
                    <li>4. Получение положительного заключения от местных архитектурных органов по эскизному проекту
                    </li>
                    <li>5. Организация разработки проектно-сметной документации утверждаемой части проекта (на стадии
                        «АС и
                        С»):
                    </li>
                    <li>5.1. Заключение договора для выполнения проектных, изыскательских работ.</li>
                    <li>5.2. Мониторинг и координация проектирования.</li>
                    <li>5.3. Организация согласований и заключений по проектно-сметной документации на стадии «АС и С».
                    </li>
                    <li>6. Организация разработки проектно-сметной документации строительного проекта (на стадии «С»):
                    </li>
                    <li>6.1. Заключение договора для выполнения проектных, изыскательских работ, а при необходимости –
                        научно-исследовательских работ.
                    </li>
                    <li>6.2. Мониторинг и координация проектирования.</li>
                    <li>7. Установление в натуре (на местности) границ предоставленного земельного участка, получение
                        документа на право пользования земельным участком с указанием условий и сроков пользования им.
                    </li>
                    <li>8. Получение разрешения от соответствующих организаций на производство работ в зоне воздушных
                        линий
                        электропередач и линий связи в полосе отвода железных дорог, в местах прохождения подземных
                        коммуникаций (кабельных, газопроводных, канализационных и других), расположенных на строительной
                        площадке.
                    </li>
                    <li>9. Организация пользования в период строительства электроэнергией, газом, водой, паром от
                        существующих источников в соответствии с проектом организации строительства.
                    </li>
                    <li>10. Обеспечение геодезической разбивочной основы для строительства объекта.</li>
                    <li>11. Подготовка материалов на получение разрешения на производство строительных работ с
                        регистрацией
                        в органах государственного строительного надзора должностных лиц, осуществляющих технический
                        надзор
                        и непосредственно руководящих строительством объекта.
                    </li>
                    <li>12. Подготовка и представление в местный исполнительный и распорядительный орган необходимых
                        материалов на получение разрешения на строительство.
                    </li>
                    <li>13. Заключение договора на осуществление авторского надзора с проектной организацией.</li>
                    <li>14. Выбор подрядчиков для выполнения отдельных видов строительно-монтажных работ.</li>
                    <li>15. Заключение договоров (контрактов) строительного подряда в установленном законодательством
                        порядке по результатам торгов либо по соглашению сторон.
                    </li>
                    <li>16. Организация разработки проекта производства работ для строительства (ППР) и его утверждение.
                    </li>
                    <li>17. Ведение общего журнала работ и журнала авторского надзора.</li>
                    <li>18. Координация деятельности подрядных организаций в период осуществления строительства объекта.
                    </li>
                    <li>19. Организация централизованных поставок заказчиком строительных материалов, изделий,
                        конструкций и
                        оборудования; Обеспечение приемки, учета и надлежащего хранения на складах оборудования,
                        материалов
                        и конструкций.
                    </li>
                    <li>20. Проведение предмонтажной ревизии оборудования и своевременная передача подрядчикам
                        оборудования,
                        обеспечение которым возложено договором строительного подряда на инженерную организацию, для
                        последующего монтажа.
                    </li>
                    <li>21. Обеспечение выполнения пусконаладочных работ, комплексного опробования и испытания
                        оборудования.
                    </li>
                    <li>22. Организация и ведение оперативного и бухгалтерского учета, составление и представление в
                        установленном порядке отчетности, связанной со строительством объекта и выполнением заключенного
                        договора.
                    </li>
                    <li>23. Организация инженерного обустройства строительной площадки в соответствии с проектом
                        производства работ.
                    </li>
                    <li>24. Руководство работой приемочной комиссии по законченному строительством объекту или
                        выполненным
                        строительным работам.
                    </li>
                    <li>25. Оформление акта приемки законченного строительством объекта.</li>
                    <li>26. Определение режима эксплуатации объекта в период опробования и приемки оборудования и
                        заключить
                        договор с эксплуатирующей организацией.
                    </li>
                    <li>27. Подготовка проектов договоров с эксплуатирующими организациями и организациями,
                        обеспечивающими
                        построенные здания и сооружения энерго-, теплоносителями, водой и другими ресурсами, или (и)
                        заключение указанных договоров по доверенности от имени инвестора.
                    </li>
                    <li>28. Участие совместно с подрядчиками и эксплуатационной организацией в обследовании объекта в
                        период
                        гарантийного срока эксплуатации.
                    </li>
                    <li>29. Осуществление государственной регистрации права собственности инвестора на недвижимое
                        имущество.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {{>footer}}

</body>
</html>