<div id="footer">
    <div id="footerTxt">
        220004, РБ, Минск, ул. П. Бровки 12.А<br/>
        Тел.:+(375 29)111-31-31, +(375 29) 656-45-54<br/>
        E-mail:mail@hyp-project.by
    </div>
</div>